<div class="row">
    <div class="col-6">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)">
            <div class="form-group"></div>
            <label>Email</label>
            <input formControlName="username" required [ngClass]="{'is-invalid' : loginForm.get('username')?.invalid}">

            <button type="submit" [disabled]="hasError()">Enviar</button>
            <input type="reset" value="Reset">
        </form>
    </div>
    <div class="col-6">
        <h3>Informacion del formulario</h3>
        <ul>
            <li>
                value: {{loginForm.value|json}}
            </li>
            <li>
                es Valido: {{loginForm.valid}}
            </li>
            <!-- <li>
                submitted: {{loginForm.submitted}}
            </li> -->
            <li>
                pristine: {{loginForm.pristine}}
            </li>
            <li>
                touched: {{loginForm.touched}}
            </li>
            <li>
                errores: {{loginForm.get('email')?.errors |json}}
            </li>
        </ul>
    </div>
</div>