<div class="row">
    <div class="col-6">
        <form #formulario="ngForm" novalidate (ngSubmit)="submitForm(formulario)">
            <div class="form-group"></div>
            <label>Email</label>
            <input type="email" ngModel name="email" #email="ngModel" required email [ngClass]="{'is-invalid' : email.touched && email.invalid}">

            <button type="submit" [disabled]="formulario.invalid">Enviar</button>
            <input type="reset" value="Reset">
        </form>
    </div>
    <div class="col-6">
        <h3>Informacion del formulario</h3>
        <ul>
            <li>
                value: {{formulario.value|json}}
            </li>
            <li>
                es Valido: {{formulario.valid}}
            </li>
            <li>
                submitted: {{formulario.submitted}}
            </li>
            <li>
                pristine: {{formulario.pristine}}
            </li>
            <li>
                touched: {{formulario.touched}}
            </li>
            <li>
                errores: {{email.errors |json}}
            </li>
        </ul>
    </div>
</div>